<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.chakri.com.SamTest"/>
      <class name="org.chakri.com.SaiTest"/>
      <class name="org.chakri.com.ChakriTest"/>
      <class name="org.chakri.com.LokeshTest"/>
      <class name="org.chakri.com.RajuTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
